/* General */

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body,
.main {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.c-about__heading,
.c-projects-list__heading,
.c-project__heading,
.c-contact__heading {
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
}

/* About */

.c-about {
  position: relative;
  margin-top: 2rem;
  max-width: 827px;
  display: flex;
  align-items: center;
}

.c-about__img {
  object-fit: contain;
  max-width: 320px;
  float: left;
}

@media (max-width: 1200px) {
  .c-about {
    max-width: 495px;
    margin-top: 4rem;
    margin-inline: 4rem;
  }

  .c-about__spacer {
    display: block;
    width: 220px;
    height: 220px;
    float: left;
  }

  .c-about__img {
    position: absolute;
    max-width: 270px;
    left: -50px;
    top: -50px;
  }
}

.c-about__info-wrapper {
  min-height: 300px;
  padding: 1rem;
  padding-top: 1.7rem;
  background: rgb(255, 255, 125);
}

@media (max-width: 600px) {
  .c-about {
    flex-flow: column;
  }

  .c-about__spacer {
    display: none;
  }

  .c-about__info-wrapper {
    background: none;
  }

  .c-about__img {
    position: static;
    width: 200px;
    height: 290px;
    object-fit: cover;
  }
}

.background_shape--about {
  position: absolute;
  z-index: -1;
  top: -150px;
  width: 100%;
  height: 470px;
  background: #0891b2;
  transform: skewY(-8deg);
}

@media (max-width: 1200px) {
  .background_shape--about {
    transform: skewY(-12deg);
  }
}

@media (max-width: 600px) {
  .background_shape--about {
    transform: skewY(-20deg);
  }
}

/* Projects */

.c-projects-list {
  max-width: 1200px;
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-template-columns: repeat(3, 260px);
  gap: 24px;
}

@media (max-width: 1200px) {
  .c-projects-list {
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: 2fr 2fr 2fr;
  }
}

@media (max-width: 600px) {
  .c-projects-list {
    grid-template-columns: 260px;
    grid-template-rows: repeat(auto-fill, 1fr);
  }
}

.c-project {
  min-height: 280px;
  padding-bottom: 40px;
  box-shadow: 1px 4px 5px rgb(219, 219, 219);
  border-radius: 4px;
}

.c-project__body {
  padding: 1rem;
  display: flex;
  flex-flow: column;
}

.c-project__wrapper {
  display: flex;
}

.c-project__heading {
  font-size: 1.1rem;
  margin-right: auto;
}

.c-project__link {
  text-decoration: none;
  margin-left: 0.6rem;
}

.c-project__description {
  font-size: 0.8rem;
  color: rgb(55, 55, 55);
  letter-spacing: 0.04em;
}

.c-project__link-img {
  width: 25px;
}

.c-project__img {
  height: 160px;
  background: rgb(181, 112, 167);
  border-radius: 4px 4px 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 24px;
}

/* Contact */

.c-contact {
  min-width: 100%;
  background: #0891b2;
}
