/* General */

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body,
.main {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.c-about__heading,
.c-projects-list__heading,
.c-project__heading,
.c-contact__heading,
.c-about__name {
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
}

/* About */

.c-about {
  position: relative;
  margin-top: 2rem;
  max-width: 827px;
  display: flex;
  align-items: center;
}

.c-about__heading {
  margin-bottom: 1rem;
}

.c-about__para {
  font-size: 0.8rem;
  letter-spacing: 0.04em;
  line-height: 1.2;
  color: rgb(55, 55, 55);
}

.c-about__name {
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(55, 55, 55, 0.353);
}

.c-about__img-container {
  position: relative;
}

.c-about__img {
  object-fit: contain;
  max-width: 320px;
  float: left;
  box-shadow: 2px 3px 5px #0000004c;
  /* border-radius: 4px; */
}

.c-about__info-wrapper {
  min-height: 300px;
  padding: 1rem;
  padding-top: 1.7rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px #00000053;
}

.c-about__links {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}

.c-about__link {
  text-decoration: none;
}

.c-about__link:first-child {
  margin-left: auto;
}

.c-about__link-img {
  width: 27px;
}

.background_shape--about {
  position: absolute;
  z-index: -1;
  top: -150px;
  width: 100%;
  height: 470px;
  background: #0891b2;
  transform: skewY(-10deg);
  box-shadow: 0px 3px 8px #0000004f;
}

@media (max-width: 1200px) {
  .c-about {
    max-width: 495px;
    margin-top: 4rem;
    margin-inline: 4rem;
  }

  .c-about__spacer {
    display: block;
    width: 230px;
    height: 230px;
    float: left;
  }

  .c-about__img-container {
    position: absolute;
    left: -50px;
    top: -45px;
  }

  .c-about__img {
    max-width: 270px;
  }

  .c-about__name {
    top: -10px;
    left: 220px;
    white-space: nowrap;
  }

  .background_shape--about {
    transform: skewY(-14deg);
  }
}

@media (max-width: 600px) {
  .c-about {
    flex-flow: column;
  }

  .c-about__spacer {
    display: none;
  }

  .c-about__info-wrapper {
    background: none;
    max-width: 275px;
    padding-inline: 0;
    box-shadow: none;
  }

  .c-about__img-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .c-about__img {
    width: 230px;
    height: 340px;
    object-fit: cover;
  }

  .background_shape--about {
    transform: skewY(-20deg);
  }

  .c-about__name {
    left: 1rem;
    top: 230px;
    white-space: normal;
  }
}

/* Projects */

.c-projects-list {
  margin-top: 100px;
  max-width: 1200px;
}

.c-projects-list__grid {
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-template-columns: repeat(3, 260px);
  gap: 24px;
}

.c-project {
  min-height: 280px;
  padding-bottom: 40px;
  box-shadow: 1px 4px 5px rgb(219, 219, 219);
  /* border-radius: 4px; */
}

.c-project__body {
  padding: 1rem;
  display: flex;
  flex-flow: column;
}

.c-project__wrapper {
  display: flex;
}

.c-project__heading {
  font-size: 1.1rem;
  margin-right: auto;
}

.c-project__link {
  text-decoration: none;
  margin-left: 0.6rem;
}

.c-project__description {
  font-size: 0.8rem;
  color: rgb(55, 55, 55);
  letter-spacing: 0.04em;
}

.c-project__link-img {
  width: 25px;
}

.c-project__img {
  height: 160px;
  background: rgb(181, 112, 167);
  /* border-radius: 4px 4px 0 0; */
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 24px;
}

@media (max-width: 1200px) {
  .c-projects-list__grid {
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: 2fr 2fr 2fr;
  }
}

@media (max-width: 600px) {
  .c-projects-list__grid {
    grid-template-columns: 260px;
    grid-template-rows: repeat(auto-fill, 1fr);
  }
}

/* Contact */

.c-contact {
  min-width: 100%;
  background: #0891b2;
}
