body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body,
.main {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.c-about__heading,
.c-projects-list__heading,
.c-project__heading,
.c-contact__heading {
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
}

.c-about {
  background: lightyellow;
  max-width: 1200px;
}

.c-projects-list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* place-items: center; */
}

.c-contact {
  min-width: 100%;
  background: #0891b2;
}
